In [1]:
import geopandas
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
from shapely import wkt
from tqdm import tqdm
from functions import *

In [18]:
station_number = 1

In [19]:
cook = geopandas.read_file("processed_data/cook/cook.shp")
cta = geopandas.read_file("processed_data/cta/cta.shp")

In [23]:
print(cta.head())

   STATION_ID       LONGNAME  DAILY_AVG_  \
0         230     Cumberland        3665
1        1350  Oak Park-Lake        1313
2        1260    Austin-Lake        1561
3         170   Ashland-Lake        2040
4        1160   Clinton-Lake        3930

                                            geometry
0  POLYGON ((-87.82831 41.98436, -87.82835 41.983...
1  POLYGON ((-87.78409 41.88705, -87.78412 41.886...
2  POLYGON ((-87.76444 41.88736, -87.76448 41.886...
3  POLYGON ((-87.65725 41.88537, -87.65729 41.884...
4  POLYGON ((-87.63207 41.88576, -87.63211 41.885...

In [21]:
station_name = cta.at[station_number,"LONGNAME"]
station_id = cta.at[station_number,"STATION_ID"]
station_walkshed = cta.at[station_number,"geometry"]
cook_crs = cook.crs
total_walkshed = 0
for i in tqdm(range(len(cook))):
    tract_poly = cook.at[i,'geometry']
    tract_density = cook.at[i,'density']
    total_walkshed = total_walkshed + tract_cont_walkshed(tract_poly, station_walkshed,tract_density,cook_crs)

100%|███████████████████████████████████████| 1331/1331 [00:46<00:00, 28.51it/s]

In [22]:
station_name, station_id, total_walkshed

('Oak Park-Lake', 1350, 11834.354597219784)

In [10]:
pd.DataFrame(np.array([station_name, station_id, total_walkshed])).to_csv("output/" +station_name +  ".csv", header=None, index=None)

In [17]:
np.loadtxt("output/" +station_name +  ".csv", dtype=str)[1]

'230'

In [12]:
df.head()

    Cumberland
0   230.000000
1  5425.960792

In [13]:
pd.DataFrame([station_name, station_id, total_walkshed]).head()

             0
0   Cumberland
1          230
2  5425.960792